.body {
  margin: 50px 0 0 0;
}
.timelineDiv{
  align-content: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.experience{
  color: orange;
  font-family: "Fragment Mono", monospace;
  margin-bottom: 0;
}
ul {
  padding: 10px;
  margin: 5%
}
li{
  height: 200px;
}
ul li {
  position: relative;
  list-style-type: none;
  width: 3px;
  background-color: black;
  margin: 0 auto;
}
.timelineEventBox {
  border-bottom: black 3px solid;
  width: 500px;
  bottom: 80px;
}
.emph{
  color:red;
  font-family: "Fragment Mono", monospace;
  font-size:medium;
}
.date{
  color: rgb(11, 11, 237);
  font-family: "Fragment Mono", monospace;
  font-size: x-large;
}
ul li::after {
  background: black;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
ul li div {
  position: relative;
  /* width: 200px; */
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
}

ul li:nth-child(odd) div {
  left: 25px;
  text-align: start;
}
li{
    width: 75%;
}
ul li:nth-child(even) div {
  left: -550px;
  text-align: end;
}
.jobName{
  font-size: 20px;

}
.jobDescription {
  font-size: 20px;
}
.skills {
  margin: 100px;
}
.symbolDiv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 40px;
  display: flex;
}
.symbol {
  width: 60px;
  position: static;
  margin: 5px;
}
.text-base{
  margin: 0px
}


@media only screen and (max-width: 1300px) {
  .timelineEventBox {
    width: 400px;
  }
  ul li:nth-child(even) div {
    left: -450px;
  }
  .symbolDiv{
    flex-wrap:wrap;
    width: 100%;
    left: auto;
}
}
@media only screen and (max-width: 850px) {
  .timelineEventBox {
    width:300px;
    right: 0
  }
  ul li:nth-child(odd) div {
    left: 25px;
    text-align: start;
  }
  ul li:nth-child(even) div {
    left: -350px;
    text-align: end;
    
  }
}
@media only screen and (max-width: 700px) {
  .timelineEventBox {
    width:300px;
  }
  ul li {
    position: relative;
    list-style-type: none;
    margin: -10px;
    margin-bottom: 150px;
  }
  ul{
    border-left: solid black 3px;
      margin: 10%
  }
  ul li:nth-child(odd) div {
    left: 25px;
    text-align: start;
  }
  ul li:nth-child(even) div {
    left: 25px;
    text-align: start;
  }
  ul li {
    width: 0px;
  }
}
/* @media only screen and (max-width: 500px){
  .timelineDiv{
  }
} */