html{
  background-color: white;
  color: black
}
.App {
  text-align: center;
  font-family: 'EB Garamond', serif;
  height: 100;
  align-content: center;
}

.projectDiv{
  display:flex;  
  flex-direction: column;
}
