.App {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  height: 100;
  font-weight: 800px;
}

/* .App-header {
  background-color: #2061e3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.projectDiv{
  display:flex;  
  flex-direction: column;
}

.projectImg {
  width: 50%;
  align-self: center;
}
.About{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.bio{
  width: 300px;
  display: flex;
  justify-content: center;
}
.headerNav{
  font-size: 20px;
}