.App {
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  height: 100;
  font-weight: 800px;
}

.projectDiv{
  display:flex;  
  flex-direction: column;
}
.imageSec{
  margin-top: 50px;
}

.projectImg {
  width: 50%;
  align-self: center;
}
.About{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.bio{
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.headerNav{
  font-size: 20px;
}
img.myPic{
  width: 15%;
  opacity: .8;
  border: solid 2px rgb(255, 255, 255);
}
