.footer{
    display: flex;
    position: relative;

}

nav.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-top: 50px;
}


a.github, a.linkedin, a.email {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.594);
  transition: 0.3s all ease-in-out;
}

a.linkedin{
    margin: 50px;
}

a.github:hover, a.linkedin:hover, a.email:hover {
  transform: rotate(-30deg) skew(25deg) translate(10px, -10px);
  box-shadow: -20px 20px 30px white;
}

a.github:hover {
  background-color: #000000;
}

a.linkedin:hover {
  background-color: #0371ae;
}

a.email:hover {
  background-color: #953bb3;
}

/* controls the size of icons */
a svg {
  width: 30px;
  height: 30px;
}

/* determines the color it currently is now and how fast it transitions into NEXT color */
a svg path,
a svg circle {
  transition: 0.1s all ease-in-out;
  fill: #292929;
}

/* this changes the icon color after hover */
a:hover svg path,
a:hover svg circle {
  fill: #fff;
}
