.Home{
  margin-top: 15%;
}

.headerNav{
  border-bottom: black 3px solid;
}

.navOption{
  font-size: 24px;
  margin-top: 30px;
}
.navOption::after{
  left: 0;
  bottom:0;
  transition-delay: 0.6s;
}
.btn-3 span::after{
  transition-delay: 0.4s;
  right: 0;
  bottom: 0
}
.btn-3::before{
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}
.btn-3 span::before{
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-3:hover::after{
  transition-delay: 0s;
}
.btn-3:hover span::after{
  transition-delay: 0.2s;
}
.btn-3:hover::before{
  transition-delay: 0.4s;
}
.btn-3:hover span::before{
  transition-delay: 0.6s;
}



a:link{
  text-decoration: none;
}

.iAm {
  font-family: "Bebas Neue", cursive;
  color: rgb(93, 93, 93);
  font-size: 48px;
}

.title {
  font-family: "Fragment Mono", monospace;
  font-size: 48px;
}

.Jarecki {
  color: black;
}

.intro {
  position: relative;
  margin-top: 100px;
  width: 100%;
}

h1.title:after {
  content: "";
  animation: abomination1 7.5s linear 1;
  animation-fill-mode: forwards;
}

@keyframes abomination1 {
  0% {
    content: "";
  }
  4% {
    content: "<>";
  }
  8% {
    content: "<A>";
  }
  12% {
    content: "<A >";
  }
  16% {
    content: "<A S>";
  }
  20% {
    content: "<A So>";
  }
  24% {
    content: "<A Sof>";
  }
  28% {
    content: "<A Soft>";
  }
  32% {
    content: "<A Softw>";
  }
  36% {
    content: "<A Softwa>";
  }
  40% {
    content: "<A Softwar>";
  }
  44% {
    content: "<A Software>";
  }
  48% {
    content: "<A Softwaree>";
  }
  52% {
    content: "<A Software>";
  }
  56% {
    content: "<A Software >";
  }
  60% {
    content: "<A Software E>";
  }
  64% {
    content: "<A Software En>";
  }
  68% {
    content: "<A Software Eng>";
  }
  72% {
    content: "<A Software Engi>";
  }
  76% {
    content: "<A Software Engin>";
  }
  80% {
    content: "<A Software Enginn>";
  }
  84% {
    content: "<A Software Engin>";
  }
  88% {
    content: "<A Software Engine>";
  }
  92% {
    content: "<A Software Enginee>";
  }
  96% {
    content: "<A Software Engineer>";
  }
  100% {
    content: "<A Software Engineer.>";
  }
}
@media only screen and (max-width: 1000px) {
  .navOption{
    font-size: 18px;
  }


}