.outerProject{
    display: flex;
      justify-content: center;
}
.individualProject {
  margin: 10px 0 0 0;
  width: 70%;
  display: flex;
}

.projectInfo{
  width: 40%;
  text-align: right;
  position:relative;
  margin: 20px;
}
.projectLink {
  width: 100%;
  font-size: 18px;
}
.projectImg {
  float: right;
  display: -webkit-box;
  margin-left: auto;
  width: 80%;
  border: solid white 3px;
  box-shadow: 10px 15px 5px rgb(0, 0, 0, .5);
}
h1.projectName{
    float: right;
    font-size: 60px;
    margin-bottom: auto;
}
p.projectDes{
    float: right;
    font-size: 24px;
}
a.projectLink{
    font-family: "Fragment Mono", monospace;
    color: rgb(19, 51, 234);
}