.symbolDiv{
    width: 75%;
    display:flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.symbol {
    width: 40px;
}

.resumeDoc{
    width: 70%;
    margin: 50px;
    border: solid black 1px;
}